<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="fa fa-times sn-link-close" style="font-size: 16px;"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Calculate</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3" style="border-right: 1px solid #d5d5d5;">
        <select style="height: 50px; font-size: 20px; width: 130px; color: #666666; border: none; background-color: transparent;">
          <option>Bitcoin</option>
          <option>Ethereum</option>
          <option>Litecoin</option>
          <option>USD</option>
        </select>
        <div class="form-group row clearfix">
          <label for="hash" class="col-sm-12 control-label">Hash Rate (KH/s):</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="hash" placeholder="0">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="power" class="col-sm-12 control-label">Power (Watts):</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="power" placeholder="0">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="powerCost" class="col-sm-12 control-label">Power Cost ($/kWh):</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="powerCost" placeholder="0">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="HardCost" class="col-sm-12 control-label">Hardware Cost (USD):</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="HardCost" placeholder="0">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="reward" class="col-sm-12 control-label">Block Reward:</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="reward" placeholder="0">
          </div>
        </div>
        <div class="calc-modal-btn-cent">
          <button style="margin-left: 30%; color: #23a7ef; border: 1px solid #23a7ef; background-color: transparent;" type="button" class="btn btn-primary btn-with-icon">Calculate</button>
        </div>
      </div>


      <div class="col-md-9">
        <div class="panel-title calc-sum" style="margin-bottom: 20px;">Mining summary</div>
        <div style="font-size: 12px;">Days to generate one block mining solo: <b>74.28 Day(s)</b> (can vary greatly depending on your lock)</div>
        <div style="font-size: 12px;">Days to generate one BTC: <b>212.21 Day(s)</b> (can vary greatly depending on the current exchange rates)</div>
        <div style="font-size: 12px;">Days to break even: <b>N/A</b> (can vary greatly depending on the current exchange rates)</div>

        <div class="horizontal-scroll">
          <table class="table table-hover" st-table="calcVm.miningSum">
            <thead>
              <tr class="sortable" style="text-align: right;">
                <th style="text-align: right;" st-sort="time">Time frame</th>
                <th style="text-align: right;" st-sort="coins">coins mined</th>
                <th style="text-align: right;" st-sort="usd">USD</th>
                <th style="text-align: right;" st-sort="power">Power cost</th>
                <th style="text-align: right;" st-sort="fees">Fees</th>
                <th style="text-align: right;" st-sort="profit">Profit</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in calcVm.miningSum" class="editable-tr-wrap">
                <td style="text-align: left; font-weight: bold;">{{item.time_frame}}</td>
                <td style="text-align: right; font-weight: bold;">{{item.mined}}</td>
                <td style="text-align: right; font-weight: bold;">${{item.usd}}</td>
                <td style="text-align: right; font-weight: bold;">{{item.power_cost}}</td>
                <td style="text-align: right; font-weight: bold;">{{item.fee}}</td>
                <td style="text-align: right; font-weight: bold;">{{item.profit}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="calc-modal-btn-cent">
         <button style="position: absolute; bottom: -120px; left: 425px;" type="button" class="btn btn-primary btn-with-icon cta" ng-click="calcVm.showPurchaseMachineModal()">Purchase additional machines</button>
         <button style="position: absolute; bottom: -120px; left: 190px;" type="button" class="btn btn-primary btn-with-icon cta" ng-click="calcVm.showPurchaseContractModal()">Purchase additional contracts</button>
         <button style="position: absolute; bottom: -120px; left: 25px;" type="button" class="btn btn-primary btn-with-icon cta" ng-click="calcVm.showReinvestModal()">Reinvest</button>
       </div>
     </div>
   </div>
 </div>
</div>
