<ba-sidebar></ba-sidebar>
<page-top></page-top>
<div ng-controller="TopPageCtrl">

  <div class="al-main" ng-init="insightsVm.loadData()">
    <div class="al-content">
      <content-top></content-top>

      <div class="widgets">

        <div class="col-lg-12 insights-page">
          <div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel large-panel" style="height: 1000px !important;">
            <uib-tabset active="$tabSetStatus.activeTab">

              <!-- Bitcoin -->

              <uib-tab heading="Bitcoin">
                <div class="row">
                  <!-- Graph -->
                  <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12" ba-panel ba-panel-title="Price graph" ba-panel-class="medium-panel traffic-panel">
                      <div ng-include="'app/pages/insights/combinedChart/btcCombinedChart.html'"></div>
                    </div>
                  </div>
                  <!-- Machines  -->
                  <div class="col-md-12">
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active machines" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 machines</b> with average performance of <b>1.5G</b> in the past 7 days
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Machine Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">{{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}} (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon" ng-click="insightsVm.showPurchaseMachineModal()">Purchase additional machines</button>
                      </div>
                    </div>
                    <!-- Contracts -->
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active mining contracts" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 contracts</b> with total performance of <b>1.5GH/s</b>
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Contract Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">${{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}}% (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon" ng-click="insightsVm.showPurchaseContractModal()">Purchase additional contracts</button>
                      </div>
                    </div>
                  </div>
                </div>
              </uib-tab>

              <!-- Ethereum -->

              <uib-tab heading="Ethereum">
                <div class="row">
                  <!-- Graph -->
                  <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12" ba-panel ba-panel-title="Price graph" ba-panel-class="medium-panel traffic-panel">
                      <div ng-include="'app/pages/insights/combinedChart/ethCombinedChart.html'"></div>
                    </div>
                  </div>
                  <!-- Machines  -->
                  <div class="col-md-12">
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active machines" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 machines</b> with average performance of <b>1.5G</b> in the past 7 days
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Machine Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">{{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}} (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                    <!-- Contracts -->
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active mining contracts" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 contracts</b> with total performance of <b>1.5GH/s</b>
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Contract Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">${{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}}% (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                  </div>
                </div>
              </uib-tab>

              <!-- Litecoin -->

              <uib-tab heading="Litecoin">
                <div class="row">
                  <!-- Graph -->
                  <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12" ba-panel ba-panel-title="Price graph" ba-panel-class="medium-panel traffic-panel">
                      <div ng-include="'app/pages/insights/combinedChart/ltcCombinedChart.html'"></div>
                    </div>
                  </div>
                  <!-- Machines  -->
                  <div class="col-md-12">
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active machines" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 machines</b> with average performance of <b>1.5G</b> in the past 7 days
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Machine Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">{{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}} (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                    <!-- Contracts -->
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active mining contracts" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 contracts</b> with total performance of <b>1.5GH/s</b>
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Contract Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">${{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}}% (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                  </div>
                </div>
              </uib-tab>

              <!-- Dash -->

              <uib-tab heading="Dash">
                <div class="row">
                  <!-- Graph -->
                  <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12" ba-panel ba-panel-title="Price graph" ba-panel-class="medium-panel traffic-panel">
                      <div ng-include="'app/pages/insights/combinedChart/dashCombinedChart.html'"></div>
                    </div>
                  </div>
                  <!-- Machines  -->
                  <div class="col-md-12">
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active machines" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 machines</b> with average performance of <b>1.5G</b> in the past 7 days
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Machine Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">{{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}} (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                    <!-- Contracts -->
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active mining contracts" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 contracts</b> with total performance of <b>1.5GH/s</b>
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Contract Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">${{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}}% (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                  </div>
                </div>
              </uib-tab>

              <!-- SiaCoin -->

              <uib-tab heading="SiaCoin">
                <div class="row">
                  <!-- Graph -->
                  <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12" ba-panel ba-panel-title="Price graph" ba-panel-class="medium-panel traffic-panel">
                      <div ng-include="'app/pages/insights/combinedChart/siaCombinedChart.html'"></div>
                    </div>
                  </div>
                  <!-- Machines  -->
                  <div class="col-md-12">
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active machines" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 machines</b> with average performance of <b>1.5G</b> in the past 7 days
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Machine Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">{{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}} (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                    <!-- Contracts -->
                    <div class="col-md-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Active mining contracts" ba-panel-class="medium-panel traffic-panel with-scroll">
                      <div style="font-size: 13px; margin: 10px;">
                        You're currently having <b>4 contracts</b> with total performance of <b>1.5GH/s</b>
                      </div>
                      <div class="horizontal-scroll" style="margin: 20px 0;">
                        <table class="table table-hover" st-table="insightsVm.tableData" style="font-size: 12px;">
                          <thead>
                            <tr class="sortable" style="text-align: right;">
                              <th style="text-align: left;" st-sort="currency">Nr.</th>
                              <th style="text-align: center;" st-sort="price">Contract Name</th>
                              <th style="text-align: center;" st-sort="price_graph">Nr.coins($-value)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in insightsVm.tableData">
                              <td style="text-align: left; font-weight: bold;">#{{item.id}}</td>
                              <td style="text-align: center;">${{item.performance}}</td>
                              <td style="text-align: center;">{{item.change_percent}}% (${{item.change_dollar}})</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-cont" style="text-align: center; padding-top: 20px;">
                        <button type="button" class="btn btn-primary btn-with-icon">Purchase additional machines</button>
                      </div>
                    </div>
                  </div>
                </div>
              </uib-tab>

            </uib-tabset>
          </div>
        </div>

    </div>
  </div>