.overview-sum:hover {
      color: $default-text;
    }

.widgets {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.full-width {
  margin: 0 -22px -16px;
}

.horizontal-scroll {
  overflow-x: auto;
  overflow-y: visible;
}

.w70 {
  width: 70%;
  margin: 0 auto;
}

.w20_left {
  width: 20%;
  text-align: left;
}

.w60_left {
  width: 60%;
  text-align: left;
}

.cust-login-align {
  // background: rgba(0, 0, 0, 0.7) !important;
  margin-left: auto; 
  margin-right: auto; 
  left: 0; 
  right: 0; 
  position: absolute; 
  top: 15%;
  .cust-logo {
    color: $primary;
  }
}

.cust-login-bg {
  background: url(../assets/img/blue-bg.jpg) center center no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
}
.cust-errmsg {
  position: absolute;
  color: #e50000;  
  font-size: 16px;
  line-height: 18px;
}

.cust-bold {
  font-weight: 400;
}

.cust-field-bg {
  background: rgba(255, 255, 255, 0.4) !important; 
  height: 50px; 
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000 !important;
}


.cust-z-index-10 {
  z-index: 10;
}

.cust-z-index-11 {
  z-index: 10;
}

.cust-fixed-layout {
  position: fixed;
  width: 100%;
  background-color: #f0f3f4;
  z-index: 9;
  padding-top: 15px;
  padding-left: 10px;
  top: 100px;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
}

.cust-top {
  top: 55px;
}

.cust-position-fixed {
  position: fixed;
}

.cust-table-position {
  position: absolute;
  top: 160px;
}

.cust-align {
  text-align: left;
  line-height: 20px !important;
}

.cust-align-right {
  display: block;
  text-align: right;
  line-height: 20px !important;
}

.cust-align-center {
  display: block;
  text-align: center;
  line-height: 20px !important;
}

.cust-error-msg {
  color: red;
  position: absolute;
}

.float-right {
  float: right;
}

.panel-subtitle {
  font-size: 15px;
  margin-bottom: 16px;
}

.panel-nav {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 2;

  i {
    cursor: pointer;
    font-size: 14px;
    color: #bfbfbf;
    margin-left: 11px;
    display: inline-block;

    &.fa-minus {
      margin-bottom: -1px;
      vertical-align: bottom;
    }

    &:hover {
      color: $default-text;
    }
  }
}