<ba-sidebar></ba-sidebar>
<page-top></page-top>

<div class="al-main" ng-init="purchaseVm.loadRole()">
  <div class="al-content">
    <content-top></content-top>

    <div class="widgets">

      <purchase-sum></purchase-sum>

      <div class="row purchase-modal">
        <div class="col-md-12">

          <!-- Contracts -->
          <div class="col-md-6">
            <div ba-panel ba-panel-title="Mining Contracts" ba-panel-class="with-scroll">
            <div style="font-size: 12px; padding-top: 10px; display: block; height: 60px;" class="purchase-modal-btn">
              <button style="float: right;" type="button" class="btn btn-primary btn-with-icon" ng-click="purchaseVm.showPurchaseContractModal()">Purchase additional contracts</button>
            </div>
            <div class="horizontal-scroll">
              <table class="table table-hover" st-table="purchaseVm.machineData">
                <thead>
                  <tr class="sortable" style="text-align: right;">
                    <th style="text-align: left;">Nr.</th>
                    <th style="text-align: right;" st-sort="power">Power (watts)</th>
                    <th style="text-align: right;" st-sort="change_percent">Type</th>
                    <th style="text-align: right;" st-sort="hash">Hashrate</th>
                    <th style="text-align: right;" st-sort="power">Power cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in purchaseVm.machineData">
                    <td style="text-align: left;">#{{item.id}}</td>
                    <td style="text-align: right;">{{item.power}}</td>
                    <td style="text-align: right;""></td>
                    <td style="text-align: right;">{{item.hashrate}}</td>
                    <td style="text-align: right;">{{item.power_cost}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
          <!-- Machines -->
           <div class="col-md-6">
            <div ba-panel ba-panel-title="Machines" ba-panel-class="with-scroll">
            <div style="font-size: 12px; padding-top: 10px; display: block; height: 60px;" class="purchase-modal-btn">
              <button style="float: right;" type="button" class="btn btn-primary btn-with-icon" ng-click="purchaseVm.showPurchaseMachineModal()">Purchase additional machines</button>
            </div>
            <div class="horizontal-scroll">
              <table class="table table-hover" st-table="purchaseVm.machineData">
                <thead>
                  <tr class="sortable" style="text-align: right;">
                    <th style="text-align: left;"></th>
                    <th style="text-align: right;" st-sort="power">Power (watts)</th>
                    <th style="text-align: right;" st-sort="change_percent">Type</th>
                    <th style="text-align: right;" st-sort="hash">Hashrate</th>
                    <th style="text-align: right;" st-sort="power">Power cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in purchaseVm.machineData">
                    <td style="text-align: left;">#{{item.id}}</td>
                    <td style="text-align: right;">{{item.power}}</td>
                    <td style="text-align: right;""></td>
                    <td style="text-align: right;">{{item.hashrate}}</td>
                    <td style="text-align: right;">{{item.power_cost}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>