<div class="row pie-charts">
  <div class="pie-chart-item-container overview-sum machines" ng-repeat="chart in charts">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="desc" style="text-align: left; float: right; width: 200px;">
          <div class="desc-stats">{{ ::chart.currency }} </div>
          <div style="font-size: 12px; padding-left: 10px;">{{ ::chart.mh }}</div>
          <div style="float: left; margin-top: 10px; font-size: 11px; color: #23a7ef; cursor: pointer; padding-left: 10px;" class="purchase-sum-calc" ng-click="purchaseVm.showCalculateModal()">Calculate</div>
          <button style="float: right; margin-top: 10px; font-size: 11px" type="button" class="btn btn-primary btn-xs purchase-sum-btn" ng-click="purchaseVm.showPurchaseMachineModal()">Purchase for $2500</button>
        </div>
      </div>
    </div>
  </div>
</div>